<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-ztQCCdmKhYHBDMV3AyR4QGZ2/z6veowJBbsmvDJW/sTuMpB9lpoubJuD0ODGSbjh"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Message Board App by Kevin Beall - adapted from the
      <a href="https://www.theodinproject.com/courses/nodejs/lessons/mini-message-board?ref=lnav" target="_blank">Project Odin mini message board assignment</a>
    </span>
  </nav>